<div class="login-box">
    <form [formGroup]="formularioLogin" (ngSubmit)="login()">
        <h2>Admin Login</h2>
        <div class="input-box">
            <span class="icon"><ion-icon [icon]="mailIcon"></ion-icon></span>
                <input id="username" type="text" formControlName="username" autocomplete="off" placeholder="Username">
        </div>
        <div class="input-box">
        <span class="icon"><ion-icon [icon]="lockClosedIcon"></ion-icon></span>
        <input id="password" type="password" formControlName="password" autocomplete="off" placeholder="Contraseña">
        </div>
        <div class="remember-forgot">
        <label><input type="checkbox">Recuérdame</label>
        <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" [disabled]="formularioLogin.invalid">Ingresar</button>
        <div class="register-link">
        <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
        </div>
    </form>
</div>

<!-- Mostrar los valores en tiempo real, IGNORAR
<h3>Datos del Formulario:</h3>
<pre>{{ formularioLogin.value | json }}</pre>
<br>
<p>El formulario es valido? {{formularioLogin.valid}}</p>
-->