/* loyout.component.css */

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.content-area-scroll {
  overflow-x: auto;
}

.content-area-scroll > * {
  max-width: 100%;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 56px); /* 56px es la altura estándar del navbar de Bootstrap */
}